<div class="col-md-5" style="margin-left: 20%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"><strong>Hamburgueria | Login</strong></h3>
    </div>

    <form class="form-horizontal" #form="ngForm" (ngSubmit)="login()">
      <div class="alert alert-error" role="alert" *ngIf="message">
        <strong>Invalid email or password</strong>
      </div>

      <div class="box-body">
        <div [ngClass]="getFromGroupClass(email.invalid, email.dirty)">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input
                type="email"
                [(ngModel)]="user.email"
                class="form-control"
                id="inputEmail"
                name="email"
                #email="ngModel"
                placeholder="Email"
                email>
            <span class="help-block" *ngIf="password.invalid && password.dirty"></span>
          </div>
        </div>


        <div [ngClass]="getFromGroupClass(password.invalid , password.dirty)">
          <label for="inputPassword" class="col-sm-2 control-label"> Password</label>
            <div class="col-sm-10">
              <input
                   type="password"
                   [(ngModel)]="user.password"
                   class="form-control"
                   id="inputPassword"
                   name="password"
                   #password="ngModel"
                   placeholder="Password"
                  required>
                <span class="help-block" *ngIf="password.invalid && password.dirty">Password is required</span>
            </div>
        </div>
    </div>

        <div class="box-footer">
          <button type="submit" (click)="cancelLogin()" class="btn btn-default">Cancel</button>
          <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">Login</button>
          <div style="text-align:center">
               <button type="button" class="btn btn-default" [disabled]="!user.email" (click)="recuperarSenha()"> Esqueci minha senha</button>
               <img  *ngIf="isLoading" src="../../../../assets/img/loading.gif" width="50" height="50">
          </div>
       </div>


   </form>
  </div>
