 <footer class="main-footer">
   <div class="pull-right hidden-xs">
      <b>Version</b> 1.0
   </div>
     <strong>Copyright &copy; 2018-2019 <a href="https://adminlte.io">Juliano</a></strong>All rights reserved.
 </footer>