 <!-- depois de alterado aqui precisamos ir até nossa rota app.route.ts -->
<div class="col-md-6" style="margin-left: 0%">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Novo Pedido:</h3>
            <img  *ngIf="isLoading" src="../../../assets/img/loading.gif" width="50" height="50">
          </div>
          <form class="form-horizontal" #form="ngForm" (ngSubmit)="save()" novalidate>

            <div [ngClass]="classCss" role="alert" *ngIf="message">
              <strong>{{ message.text }}</strong>
            </div>

            <div class="box-body">
                    <div [ngClass]="getFromGroupClass(subject.invalid, subject.dirty)">
                        <label for="inputSubject" class="col-sm-2 control-label">Assunto</label>
                         <div class="col-sm-10">
                              <input type="text"
                                    [(ngModel)]="sendFilesCustomer.subject"
                                    class="form-control"
                                    name="subject"
                                    id="inputSubject"
                                    #subject="ngModel"
                                    placeholder="Title"
                                    required />
                          <span class="help-block" *ngIf="subject.invalid && subject.dirty">subject is required</span>
                         </div>
                  </div>
                  <div [ngClass]="getFromGroupClass(description.invalid, description.dirty)">
                       <label for="inputDescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <textarea [(ngModel)]="sendFilesCustomer.description"
                                      class="form-control"
                                      name="description"
                                      rows="3"
                                      id="inputDescription"
                                      #description="ngModel"
                                      placeholder="Description"
                                      required>
                            </textarea>
                  <span class="help-block" *ngIf="description.invalid && description.dirty">Description is required</span>
                </div>
              </div>

              <div [ngClass]="getFromGroupClass(tipo.invalid, tipo.dirty)">
                <label for="inputTipo" class="col-sm-2 control-label">  Tipo</label>
                     <div class="col-sm-10">
                          <select [(ngModel)]="sendFilesCustomer.tipo"
                                  class="form-control select2"
                                  id="inputTipo"
                                  name="tipo"
                                  #tipo="ngModel"
                                  style="width: 100%"
                                  required>
                            <option value="Pizza">Pizza</option>
                            <option value="Xis">Xis</option>
                            <option value="Outros">Outros</option>
                          </select>
                  <span class="help-block" *ngIf="tipo.invalid && tipo.dirty">tipo is required</span>
                </div>
              </div>

                 </div>
                  <div class="form-group">
              <label for="inputImage" class="col-sm-2 control-label">Image</label>
              <div class="col-sm-10">
                <img [src]="sendFilesCustomer.file" width="20%" height="20%" />
                <input type="file" id="image" (change)="onFileChange($event)" />
              </div>
            </div>

            <div class="box-footer">
              <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">
                Subimit
              </button>
               </div>
          </form>
        </div>
      </div>
