<div class="col-md-6" style="margin-left: 20%">
  <div *ngIf="linkOk" class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"><strong>Recuperar Senha</strong></h3>
      <br>
      <br>
      <!--<h4>{{isLoading ? 'Aguarde....' : 'Recuperar senha!!'}}</h4>-->
      <h4>{{isLoading ? 'Aguarde....' : ''}}</h4>
    </div>

    <form class="form-horizontal">
      <div class="box-body">
        <p style="color: red;" *ngIf="senhasDiferentes">Senhas são diferentes!!</p>
        <div>
          <label for="inputEmail3" class="col-sm-2 control-label">Nova Senha</label>
          <div class="col-sm-10">
            <input type="password" [(ngModel)]="body.password" class="form-control" name="password"
              #password="ngModel" placeholder="Senha" email>
            <span class="help-block" *ngIf="password.invalid && password.dirty"></span>
          </div>
          
        </div>
    
        <div>
          <label for="inputEmail3" class="col-sm-2 control-label">Repita Senha </label>
          <div class="col-sm-10">
            <input type="password" [(ngModel)]="body.password2" class="form-control" name="password"
              #password2="ngModel" placeholder="Repita senha" email>
            <span class="help-block" *ngIf="password2.invalid && password2.dirty"></span>
          </div>
        </div>
    
        <div class="box-footer">
          <button type="button" [disabled]="!body.password || body.password.length <= 5" (click)="recuperar()" class="btn btn-info pull-right">Recuperar</button>
        </div>
      </div>
    </form>

  </div>

  <div *ngIf="!linkOk">
    <p>Este link não é mais válidado!!</p>
  </div>
</div>
