<!--habilita para true , depois de fazer login
ai pode ver menu,header,rodapé...senão só pode ver tela de login
shared.service.ts-->
<app-header [hidden]="!showTemplate"></app-header>
<app-menu [hidden]="!showTemplate"></app-menu>


<div [ngClass]="showContentWrapper()">
        <section class="content-header">
                
        </section>
        
        <section class="content">
                 <router-outlet></router-outlet>
        </section>
</div>


<app-footer [hidden]="!showTemplate"></app-footer>