<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<h3 class="first">Meus Pedidos</h3>
<p-table [value]="pedidos">
  <ng-template pTemplate="header">
    <tr>
      <th>Número</th>
      <th>Data</th>
      <th>Descrição</th>
      <th>Status</th>
      <th class="Col10"></th>
      <th class="Col10"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-ped>
    <tr>
      <td>{{ ped.number }}</td>
      <td>{{ ped.date }}</td>
      <td>{{ ped.description }}</td>
      <td>{{ ped.status === null ? "Aguardando" : ped.status }}</td>
      <td class="Col10">
        <p-button
          icon="pi pi-eye"
          label="Alterar"
          class="ui-button"
          (click)="edit(ped)"
        ></p-button>
      </td>
      <td class="Col10">
        <p-button
          icon="pi pi-trash"
          label="Delete"
          class="ui-button"
          (click)="delete(ped.id)"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  header="Pedido"
  [(visible)]="editar"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '550px', minWidth: '550px' }"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <div class="col-12" style="margin-left: 0%">
    <div class="box box-info">
      <form
        class="form-horizontal"
        #form="ngForm"
        (ngSubmit)="save()"
        novalidate
      >
        <div class="box-body">
          <div>
            <label for="inputSubject" class="col-sm-2 control-label"
              >Assunto</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="pedido.subject"
                class="form-control"
                name="subject"
                id="inputSubject"
                #subject="ngModel"
                placeholder="Title"
                required
              />
              <span class="help-block" *ngIf="subject.invalid && subject.dirty"
                >subject is required</span
              >
            </div>
          </div>
          <div >
            <label for="inputDescription" class="col-sm-2 control-label"
              >Description</label
            >
            <div class="col-sm-10">
              <textarea
                [(ngModel)]="pedido.description"
                class="form-control"
                name="description"
                rows="3"
                id="inputDescription"
                #description="ngModel"
                placeholder="Description"
                required
              >
              </textarea>
              <span
                class="help-block"
                *ngIf="description.invalid && description.dirty"
                >Description is required</span
              >
            </div>
          </div>

          <div>
            <label for="inputTipo" class="col-sm-2 control-label"> Tipo</label>
            <div class="col-sm-10">
              <select
                [(ngModel)]="pedido.tipo"
                class="form-control select2"
                id="inputTipo"
                name="tipo"
                #tipo="ngModel"
                style="width: 100%"
                required
              >
                <option value="AGUA">Água</option>
                <option value="ENERGIA">Energia Elétrica</option>
                <option value="TELEFONE">Telefone</option>
              </select>
              <span class="help-block" *ngIf="tipo.invalid && tipo.dirty"
                >tipo is required</span
              >
            </div>
          </div>
        </div>

        <div class="box-footer">
          <button
            type="submit"
            [disabled]="!form.valid"
            class="btn btn-info pull-right"
          >
            Salvar
          </button>
        </div>
      </form>
    </div>
  </div>
</p-dialog>
