<div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Ticket List</h3>
        </div>

        <div [ngClass]="classCss" role="alert" *ngIf="message">
          <strong>{{ message.text }}</strong>
        </div>

        <div class="box-body">
          <!--div class="form-group" *ngIf="shared.user.profile == 'TECHNICIAN'">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="assignedToMe" id="assignedToMe" [(ngModel)]="assignedToMe">
                <b>Assigned to me</b>
              </label>
            </div>
          </div-->

          <div class="form-group">
            <label for="inputNumber" class="col-sm-2 control-label">Number</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="ticketFilter.number" name="number" class="form-control" id="inputNumber">
            </div>
          </div>
          <div class="form-group">
            <label for="inputTitle" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
              <input type="text" [(ngModel)]="ticketFilter.title" name="title" class="form-control" id="inputTitle">
            </div>
          </div>
          <div class="form-group">
            <label for="inputStatus" class="col-sm-2 control-label">Status</label>
            <div class="col-sm-10">
              <select [(ngModel)]="ticketFilter.status" class="form-control select2" name="status" id="inputStatus" style="width: 100%;">
                <option>New</option>
                <option>Resolved</option>
                <option>Approved</option>
                <option>Disapproved</option>
                <option>Assigned</option>
                <option>Closed</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPriority" class="col-sm-2 control-label">Priority</label>
            <div class="col-sm-10">
              <select [(ngModel)]="ticketFilter.priority" class="form-control select2" name="priority" id="inputPriority"
                style="width: 100%;">
                <option>HIGH</option>
                <option>NORMAL</option>
                <option>LOW</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="inputPriority" class="col-sm-2 control-label">Mês - Ano</label>
            <div class="col-sm-10">
              <p-inputMask name="mesAno" [(ngModel)]="ticketFilter.mesAno" mask="99-9999"></p-inputMask>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button class="btn btn-info pull-left" (click)="cleanFilter()">Clean Filter</button>
          <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="filter()">Filter</button>
        </div>
        <div class="box-body">
            <p-table [value]="listTicket" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th class="Col7">Number</th>
                      <th>Title</th>
                      <th class="Col7">Priority</th>
                      <th class="Col7">Status</th>
                      <th>Owner</th>
                      <th>Customer</th>
                      <th style="width: 7%" *ngIf="shared.user.profile == 'CUSTOMER' || 'ADMIN'">&nbsp;</th>
                      <th style="width: 7%" *ngIf="shared.user.profile == 'CUSTOMER' || 'ADMIN'">&nbsp;</th>
                      <th style="width: 7%">&nbsp;</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-ticket let-columns="columns">
                    <tr>
                        <td class="Col7">{{ticket.number}}</td>
                        <td>{{ticket.title}}</td>
                        <td class="Col7">{{ticket.priority}}</td>
                        <td class="Col7">{{ticket.status}}</td>
                        <td>{{ticket.user.email}}</td>
                        <td>{{ticket.customer.email}}</td>
                        <td  style="width: 7%" *ngIf="shared.user.profile == 'CUSTOMER' || 'ADMIN'">
                          <button class="btn btn-primary" (click)="edit(ticket.id)">Edit</button>
                        </td>
                        <td  style="width: 7%" *ngIf="shared.user.profile == 'CUSTOMER' || 'ADMIN'">
                          <button class="btn btn-danger" (click)="delete(ticket.id)">Delete</button>
                        </td>
                        <td  style="width: 7%"><button class="btn btn-success" (click)="detail(ticket.id)">Detail</button></td>
                      </tr>
                </ng-template>
              </p-table>
        </div>
      </div>
    </div>
  </div>
