<!-- depois de alterado aqui precisamos ir até nossa rota app.route.ts -->
<div class="col-md-6" style="margin-left: 0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">New Ticket</h3>
      <img *ngIf="isLoading" src="../../../assets/img/loading.gif" width="50" height="50">
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>

      <div class="box-body">
        <div [ngClass]="getFromGroupClass(title.invalid, title.dirty)">
          <label for="inputTitle" class="col-sm-2 control-label">Title</label>
          <div class="col-sm-10">
            <input type="text" [(ngModel)]="ticket.title" class="form-control" name="title" id="inputTitle" #title="ngModel"
              placeholder="Title" required />
            <span class="help-block" *ngIf="title.invalid && title.dirty">title is required</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(priority.invalid, priority.dirty)">
          <label for="inputPriority" class="col-sm-2 control-label">
            Priority</label>
          <div class="col-sm-10">
            <select [(ngModel)]="ticket.priority" class="form-control select2" id="inputPriority" name="priority"
              #priority="ngModel" style="width: 100%" required>
              <option value="HIGH">HIGH</option>
              <option value="NORMAL">NORMAL</option>
              <option value="LOW">LOW</option>
            </select>
            <span class="help-block" *ngIf="priority.invalid && priority.dirty">priority is required</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(description.invalid, description.dirty)">
          <label for="inputDescription" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            <textarea [(ngModel)]="ticket.description" class="form-control" name="description" rows="3" id="inputDescription"
              #description="ngModel" placeholder="Description..." required>
            </textarea>
            <span class="help-block" *ngIf="description.invalid && description.dirty">Description is required</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(tipo.invalid, tipo.dirty)">
          <label for="inputPriority" class="col-sm-2 control-label">
            Tipo</label>
          <div class="col-sm-10">
            <select [(ngModel)]="ticket.tipo" class="form-control select2" id="inputTipo" name="tipo" #tipo="ngModel"
              style="width: 100%" required>
              <option value="PIZZA">Pizza</option>
              <option value="XIS">Xis</option>
              <option value="OUTROS">Outros</option>
            </select>
            <span class="help-block" *ngIf="tipo.invalid && tipo.dirty">tipo is required</span>
          </div>
        </div>

        <div [ngClass]="getFromGroupClass(tipo.invalid, tipo.dirty)">
          <label for="inputPriority" class="col-sm-2 control-label">
            Usuários</label>
          <div class="col-sm-10">
            <p-dropdown [options]="usuarios" optionLabel="nome" [ngModelOptions]="{ standalone: true }" [(ngModel)]="ticket.customer"
              [style]="{'width':'150px'}" filter="true">

            </p-dropdown>
            <span class="help-block" *ngIf="tipo.invalid && tipo.dirty">tipo is required</span>
          </div>
        </div>


        <div class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="enviarEmail" id="assignedToMe" [(ngModel)]="ticket.enviarEmail">
              <b>Enviar Email</b>
            </label>
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="inputImage" class="col-sm-2 control-label">Image</label>
        <div class="col-sm-10">
          <img [src]="ticket.image" width="20%" height="20%" />
          <input type="file" id="image" (change)="onFileChange($event)" />
        </div>
      </div>

      <div class="box-footer">
        <button type="submit" [disabled]="!form.valid" class="btn btn-info pull-right">
          Subimit
        </button>

      </div>
    </form>
  </div>
</div>
