<div class="col-md-10" style="margin-left:0%">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Detail Ticket</h3>
    </div>
    <form class="form-horizontal" #form="ngForm" (ngSubmit)="register()" novalidate>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <ul class="list-group list-group-unbordered">

          <li class="list-group-item">
            <b>Number :</b> <span>{{ticket.number}}</span>
            <span class="pull-right"><b>Title :</b> <span>{{ticket.title}}</span></span>
          </li>


          <li class="list-group-item">
            <b>Priority :</b> <span>{{ticket.priority}}</span>
            <span class="pull-right">
              <b>Create by :</b> <span>{{ticket?.user?.email}}</span>
            </span>
          </li>


          <li class="list-group-item">
            <b>Status :</b> <span>{{ticket.status}}</span>
            <span class="pull-right">
              <b>Assigned To :</b> <span>{{ticket?.assignedUser?.email}}</span>
            </span>
          </li>


          <li class="list-group-item">
            <b>Date :</b> <span>{{ticket.date}}</span>
          </li>

          <li class="list-group-item">
            <b>Description :</b> <span>{{ticket.description}}</span>
          </li>
          <li class="list-group-item">
            <!-- mostra a img -->
            <span *ngIf="!urlPdf"><img [src]="ticket.image" width="450px" height="370px"></span>
            <!-- mostra o pdf -->
            <span *ngIf="urlPdf"><iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(urlPdf)" width="450px" height="370px"></iframe></span>
            <span class="pull-right">
              <table class="table table-bordered">
                <tr>
                  <th>User Change</th>
                  <th>Date Change Status</th>
                  <th>Status</th>
                </tr>
                <tr *ngFor="let change of ticket.changes">
                  <td>{{ change?.userchanged.email }}</td>
                  <td>{{ change?.dateChangedStatus | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                  <td>{{ change?.status}}</td>
                </tr>
              </table>
            </span>
          </li>



          <!-- download -->
          <td>
            <p class="pull-right">
              <button class="btn btn-success btn-sm ad-click-event" (click)="getFile(true)">
                Download
              </button>
            </p>
          </td>


        </ul>
      </div>
      <div class="box-footer">
        <button *ngIf="shared.user.profile == 'TECHNICIAN' && ticket.status == 'New'" (click)="changeStatus('Assigned')"
          class="btn btn-primary">Accept</button>
        <button *ngIf="shared.user.profile == 'TECHNICIAN' && (ticket.status == 'Assigned' || ticket.status == 'Disapproved')"
          (click)="changeStatus('Resolved')" class="btn btn-primary">Solve</button>
        <button *ngIf="shared.user.profile == 'CUSTOMER' && ticket.status == 'Resolved'" (click)="changeStatus('Approved')"
          class="btn btn-primary">Approve</button>
        <button *ngIf="shared.user.profile == 'CUSTOMER' && ticket.status == 'Resolved'" (click)="changeStatus('Disapproved')"
          class="btn btn-primary">Disapprove</button>
        <button *ngIf="shared.user.profile == 'TECHNICIAN' && ticket.status == 'Approved'" (click)="changeStatus('Closed')"
          class="btn btn-primary">Close</button>
      </div>
    </form>
  </div>
</div>
