<div class="row">
  <div class="col-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Ticket List</h3>
      </div>
      <div [ngClass]="classCss" role="alert" *ngIf="message">
        <strong>{{ message.text }}</strong>
      </div>
      <div class="box-body">
        <div class="form-group">

          <!--original-->
          <!---div class="col-12">
            <div class="ui-g-8 ui-md-4">
              <h3>Mês/Ano</h3>
              <p-inputMask name="mesAno" [(ngModel)]="mesAno" mask="99-9999"></p-inputMask>
            </div> -->

            <!--copia-->
           <div class="form-group">
            <label for="inputPriority" class="col-sm-2 control-label">Mês - Ano</label>
            <div class="col-sm-10">
              <p-inputMask name="mesAno" [(ngModel)]="mesAno" mask="99-9999"></p-inputMask>
            </div>
          </div>
          

            <div class="ui-g-4 ui-md-4">
              <button style="margin-left: 10px" class="btn btn-info pull-right" (click)="buscar()">Filter</button>
            </div>
          </div>
        </div>

        <div class="box-body">
          <p-table [value]="listTicket" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
              <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Owner</th>
                <th style="width: 13%">&nbsp;</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket>
              <tr>
                <td>{{ticket.number}}</td>
                <td>{{ticket.title}}</td>
                <td>{{ticket.priority}}</td>
                <td>{{ticket.status}}</td>
                <td>{{ticket.user.email}}</td>
                <td style="width: 13%"><button class="btn btn-success" [routerLink]="['/ticket-detail', ticket.id]"
                    routerLinkActive="router-link-active">Detail</button></td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>
    </div>
  </div>
