<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/user-list']"
              ><i class="fa fa-circle-o"></i> List</a
            >
          </li>
          <li>
            <a [routerLink]="['/user-new']"
              ><i class="fa fa-circle-o"></i> New User</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Ticket</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/ticket-list']"
              ><i class="fa fa-circle-o"></i> List</a
            >
          </li>
          <li>
            <a [routerLink]="['/ticket-new']"
              ><i class="fa fa-circle-o"></i> New Ticket</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview" *ngIf="shared.user.profile == 'CUSTOMER'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Arquivo</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/arquivos/PIZZA']"
              ><i class="fa fa-circle-o"></i> Pizza</a
            >
          </li>
          <li>
            <a [routerLink]="['/arquivos/XIS']"
              ><i class="fa fa-circle-o"></i> Xis</a
            >
          </li>
          <li>
            <a [routerLink]="['/arquivos/OUTROS']"
              ><i class="fa fa-circle-o"></i> Outros</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview" *ngIf="shared.user.profile == 'CUSTOMER'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Pedidos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/send-files-customer']"
              ><i class="fa fa-circle-o"></i> Enviar Pedido</a
            >
          </li>
          <li>
            <a [routerLink]="['/list-send-files']"
              ><i class="fa fa-circle-o"></i> Meus Pedidos</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview" *ngIf="shared.user.profile == 'ADMIN'">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Pedidos Recebidos</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/files-received']"
              ><i class="fa fa-circle-o"></i> Arquivos Recebidos</a
            >
          </li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#">
          <i class="fa fa-edit"></i> <span>Summary</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a [routerLink]="['/summary']"
              ><i class="fa fa-circle-o"></i>To view
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
