<p-confirmDialog
  header="Confirmação"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>

<div class="row">
  <div class="col-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Arquivos Recebidos</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <div class="form-group">
            <label for="inputPriority" class="col-sm-2 control-label"
              >Mês - Ano</label
            >
            <div class="col-sm-10">
              <p-inputMask
                name="mesAno"
                [(ngModel)]="mesAno"
                mask="99-9999"
              ></p-inputMask>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <button
            style="margin-left: 10px"
            class="btn btn-info pull-right"
            (click)="filtrar()"
          >
            Filter
          </button>
        </div>
        <div class="box-body">
          <p-table [value]="files" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th class="Col7">Number</th>
                <th>Subject</th>
                <th>Cliente</th>
                <th class="Col7">Type</th>
                <th>Status</th>
                <th class="Col10"></th>
                <th class="Col10"></th>
                <th class="Col10"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ticket let-columns="columns">
              <tr>
                <td class="Col7">{{ ticket.number }}</td>
                <td>{{ ticket.subject }}</td>
                <td>{{ ticket.user.nome }}</td>
                <td class="Col7">{{ ticket.tipo }}</td>
                <td>{{ ticket.status }}</td>
                <td class="Col10">
                  <p-button
                    icon="pi pi-eye"
                    label=""
                    class="ui-button"
                    (click)="view(ticket)"
                  ></p-button>
                </td>
                <td class="Col10">
                  <p-button
                    icon="pi pi-trash"
                    label=""
                    class="ui-button"
                    (click)="delete(ticket.id)"
                  ></p-button>
                </td>
                <td class="Col10">
                  <p-button
                    icon="pi pi-pencil"
                    label="Alterar Status"
                    class="ui-button"
                    (click)="edit(ticket)"
                  ></p-button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>

  <p-dialog
    header="Arquivo"
    [(visible)]="visualizar"
    [modal]="true"
    [responsive]="true"
    [style]="{ width: '550px', minWidth: '550px' }"
    [minY]="70"
    [maximizable]="true"
    [baseZIndex]="10000"
  >
    <div class="box-body">
      <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>Number :</b> <span>{{ file?.number }}</span>
          <span class="pull-right"
            ><b>Title :</b> <span>{{ file?.subject }}</span></span
          >
        </li>

        <li class="list-group-item">
          <b>Type :</b> <span>{{ file?.tipo }}</span>
          <span class="pull-right">
            <b>Create by :</b> <span>{{ file?.user?.email }}</span>
          </span>
        </li>

        <li class="list-group-item">
          <b>Description :</b> <span>{{ file?.description }}</span>
        </li>

        <img [src]="file?.file" width="40%" height="40%" />

        <!-- download -->
        <td>
          <p class="pull-right">
            <button
              class="btn btn-success btn-sm ad-click-event"
              (click)="download()"
            >
              Download
            </button>
          </p>
        </td>
      </ul>
    </div>

    <p-footer>
      <button
        type="button"
        pButton
        icon="pi pi-close"
        (click)="visualizar = false"
        label="Close"
        class="ui-button-secondary"
      ></button>
    </p-footer>
  </p-dialog>



  <p-dialog
    header="Alterar Pedido"
    [(visible)]="editStatus"
    [modal]="true"
    [responsive]="true"
    [minWidth]="600"
    [style]="{ width: '600px', minWidth: '600px' }"
    [minY]="70"
    [maximizable]="true"
    [baseZIndex]="10000"
  >
    <div class="col-12" style="margin-left: 0%">
      <div class="box box-info">
        <form
          class="form-horizontal"
          #form="ngForm"
          (ngSubmit)="save()"
          novalidate
        >
          <div class="box-body">
            <div>
              <label for="inputSubject" class="col-sm-2 control-label"
                >Assunto</label
              >
              <div class="col-sm-10">
                <input
                  type="text"
                  [(ngModel)]="file.subject"
                  class="form-control"
                  name="subject"
                  id="inputSubject"
                  #subject="ngModel"
                  placeholder="Title"
                  required
                />
                <span
                  class="help-block"
                  *ngIf="subject.invalid && subject.dirty"
                  >subject is required</span
                >
              </div>
            </div>
            <div>
              <label for="inputDescription" class="col-sm-2 control-label"
                >Description</label
              >
              <div class="col-sm-10">
                <textarea
                  [(ngModel)]="file.description"
                  class="form-control"
                  name="description"
                  rows="3"
                  id="inputDescription"
                  #description="ngModel"
                  placeholder="Description"
                  required
                >
                </textarea>
                <span
                  class="help-block"
                  *ngIf="description.invalid && description.dirty"
                  >Description is required</span
                >
              </div>
            </div>

            <div>
              <label for="inputTipo" class="col-sm-2 control-label">
                Tipo</label
              >
              <div class="col-sm-10">
                <select
                  [(ngModel)]="file.tipo"
                  class="form-control select2"
                  id="inputTipo"
                  name="tipo"
                  #tipo="ngModel"
                  style="width: 100%"
                  required
                >
                  <option value="PIZZA">Pizza</option>
                  <option value="XIS">Xis</option>
                  <option value="OUTROS">Outros</option>
                </select>
                <span class="help-block" *ngIf="tipo.invalid && tipo.dirty"
                  >tipo is required</span
                >
              </div>
            </div>

            <div>
              <label for="inputTipo" class="col-sm-2 control-label">
                Status</label
              >
              <div class="col-sm-10">
                <select
                  [(ngModel)]="file.status"
                  class="form-control select2"
                  id="inputTipo"
                  name="status"
                  #status="ngModel"
                  style="width: 100%"
                  required
                >
                  <option value="Atendimento">Atendimento</option>
                  <option value="Finalizado">Finalizado</option>
                  <option value="Cancelado">Cancelado</option>
                </select>
              </div>
            </div>
          </div>

          <div class="box-footer">
            <button
              type="submit"
              [disabled]="!form.valid"
              class="btn btn-info pull-right"
            >
              Salvar
            </button>
          </div>
        </form>
      </div>
    </div>
  </p-dialog>
</div>
